footer.footer
  .footer__inner.page-container
    .footer__column
      .footer-logo
        img(src="./img/images/hicell-logo2.png")
    .footer__column
      .footer-col-title Products
      .footer-col-list
        .footer-col-item
          a(href="#") SMS
        .footer-col-item
          a(href="#") A2P Messaging
        .footer-col-item
          a(href="#") Verified SMS
        .footer-col-item
          a(href="#") Short Codes
        .footer-col-item
          a(href="#") Long Numbers
        .footer-col-item
          a(href="#") RCS
        .footer-col-item
          a(href="#") HLR
        .footer-col-item
          a(href="#") Viber
        .footer-col-item
          a(href="#") Transactions
        .footer-col-item
          a(href="#") Advertising SMS
        .footer-col-item
          a(href="#") IP Verification
    .footer__column
      .footer-col-title Solutions
      .footer-col-list
        .footer-col-item
          a(href="#") Big data
        .footer-col-item
          a(href="#") Viber + SMS
        .footer-col-item
          a(href="#") Short Code
        .footer-col-item
          a(href="#") Long Number
        .footer-col-item
          a(href="#") 2Way Numbers
        .footer-col-item
          a(href="#") Bulk SMS
    .footer__column
      .footer-col-title Prices
    .footer__column
      .footer-col-title About us
      .footer-col-list
        .footer-col-item
          a(href="#") About Us
        .footer-col-item
          a(href="#") Why us
        .footer-col-item
          a(href="#") Our History
        .footer-col-item
          a(href="#") Our office
        .footer-col-item
          a(href="#") Our employees
    .footer__column
      .footer-col-title FAQ
      .footer-col-list
        .footer-col-item
          a(href="#") Video lessons
    .footer__column
      .footer-col-title Contacts
      .footer-col-list
        .footer-col-item.contact
          a(href="mailto: sales@hicell.net") sales@hicell.net
          a(href="tel: +447506865214") +447506865214
        .footer-col-item.adress
          a(href="#") 100 New Bond Street, First Floor, London, United Kingdom, W1S 1SP · Company No. 11435117 · VAT 307344618
  .footer-bottom
    .footer-bottom__txt © Hicell, 2020. All rights reserved



a.fixed-info-btn
  include ../../img/images/chat.svg









