header.header
  .header-inner.page-container
    .header-top
      a(href="./").header-top__logo
        picture
          source(srcset="./img/images/hicell-logo.webp" type="image/webp")
          img(src="./img/images/hicell-logo.png" alt="img").header-top__logo-img
      .header-top__content
        .header-top__languages
          a(href="#").header-top__languages-item RU
          a(href="#").header-top__languages-item.active EN
        .header-top__search
          form
            input(type="text").header-top__input
            //img(src="./img/images/search-icon.png").header-top__search-ico
            button(type="submit")
            picture
              source(srcset="./img/images/search-icon.webp" type="image/webp")
              img(src="./img/images/search-icon.png" alt="img").header-top__search-ico
        .header-top__contacts
          a(href="mailto:sales@hicell.net").header-top__contacts-mail sales@hicell.net
          a(href="tel:+447506865214").header-top__contacts-phone +447506865214
    .header-bottom
      .header-bottom__list
        a(href="./products.html").header-bottom__item PRODUCTS
        a(href="./solutions.html").header-bottom__item SOLUTIONS
        a(href="./prices.html").header-bottom__item PRICES
        a(href="./faq.html").header-bottom__item FAQ
        a(href="./integration.html").header-bottom__item INTEGRATION
        a(href="./blog.html").header-bottom__item BLOG
        a(href="./events.html").header-bottom__item EVENTS
        a(href="./Contacts.html").header-bottom__item CONTACT US
      .header-bottom__autorize
        a(href="#").header-bottom__log-in LOG IN
        a(href="#").header-bottom__log-in.sign-up SIGN UP
    .header-fixed-search.hidden
      .header-fixed-search__inner
        input(type="text")
        .header-fixed-search__ico
          a(href="#")
            include ../../img/images/search3.svg
    .header-mobile
      .header-mobile__inner
        .header-mobile__logo
          picture
            source(srcset="./img/images/hicell-logo2.webp" type="image/webp")
            img(src="./img/images/hicell-logo2.png" alt="img").header-mobile__logo-img
          //img(src="./img/images/hicell-logo2.png").header-mobile__logo-img
        .header-mobile__right
          .header-mobile__search
            picture
              source(srcset="./img/images/mobile_search.webp" type="image/webp")
              img(src="./img/images/mobile_search.png" alt="img").header-mobile__search-img
            //img(src="./img/images/mobile_search.png").header-mobile__search-img
          .header-mobile__menu
            img(src="./img/images/menu1.svg" alt="img").header-mobile__menu-img
            img(src="./img/images/cancel.svg" alt="img").header-mobile__close-img.d-hidden
            .header-mobile__list
              .header-mobile__list-inner
                a(href="./products.html").header-mobile__item PRODUCTS
                a(href="./solutions.html").header-mobile__item SOLUTIONS
                a(href="./prices.html").header-mobile__item PRICES
                a(href="./faq.html").header-mobile__item FAQ
                a(href="./integration.html").header-mobile__item INTEGRATION
                a(href="./blog.html").header-mobile__item BLOG
                a(href="./Contacts.html").header-mobile__item EVENTS
                a(href="./Contacts.html").header-mobile__item CONTACT US
                .header-mobile__btns
                  a(href="#").header-bottom__log-in log in
                  a(href="#").header-bottom__log-in.sign-up sign up







