extends _layout

block vars
  - var pageTitle = "Blogcontent page";
  - var pageClass = "blogcontentpage";
  - var pageActive = "blogcontentpage";
block content
  .main
    .custom-border-title__wrap.page-container.blog-btn-wrap
      .custom-border-title.products.blog-t blog
    .blog-container
      .blog-container__wrap.page-container
        a.blog-container__btn back
        .blog-container__inner
          .blog-container__title Heavy engineering is not a distant drumbeat for you
          .blog-container__img
            img(src="./img/images/rectangle92.png" alt="img").blog-container__img-img
          .blog-container__data-icons
            .blog-container__left
              .blog-container__row
                .blog-container__col.left
                  .blog-container__col-ico
                    include ../img/images/calendar_calendar.svg
                  .blog-container__col-txt 27 October 2020
                .blog-container__col
                  span Tags:
                  a(href="#").blog-container__col-i #tag1
                  a(href="#").blog-container__col-i #tag2
                  a(href="#").blog-container__col-i #tag3
                  a(href="#").blog-container__col-i #tag4
              .blog-container__row
                .blog-container__col.left
                  .blog-container__col-ico
                    include ../img/images/clock.svg
                  .blog-container__col-txt 5 minutes read
                .blog-container__col
                  span Author: Name Surname
            .blog-container__right
              a(href="#").blog-container__ico
                include ../img/images/link_02.svg
              a(href="#").blog-container__ico
                include ../img/images/instagram.svg
              a(href="#").blog-container__ico
                include ../img/images/facebook.svg
              a(href="#").blog-container__ico
                include ../img/images/google.svg
              a(href="#").blog-container__ico
                include ../img/images/Twitter.svg
              a(href="#").blog-container__ico
                include ../img/images/reddit.svg
          .blog-container__title-txt(data-aos="fade-right").border__top Politics cannot but respond to the senile creak of Amsterdam
          .blog-container__txt(data-aos="fade-left") It should be noted that the modern development methodology predetermines a high demand for internal reserves and resources allocation. It is difficult to say why elements of the political process, which represent a vivid example of the continental European type of political culture, will be equally provided for themselves. Modern technologies have reached such a level that the boundary of personnel training creates the need to include a number of extraordinary measures in the production plan, taking into account a set of standard approaches. Strengthening and developing the internal structure requires an analysis of the development model. Only seeking to displace traditional production, nanotechnology represents nothing more than the quintessence of the victory of marketing over reason and must be called to account.
          .blog-container__txt(data-aos="fade-left") On the other hand, the basic vector of development ensures the relevance of the directions of progressive development. Actively developing countries of the third world are functionally divided into independent elements.
          .blog-container__title-txt(data-aos="fade-right") Noble aspirations will not save: the prototype is not a panacea
          .blog-container__txt(data-aos="fade-left") Modern technologies have reached such a level that consultation with a wide asset ensures the relevance of the directions of progressive development. Varied and rich experience tells us that semantic analysis of external reactions is an interesting experiment to check the timely completion of a super task. We have to proceed from the fact that the existing structure of the organization speaks about the possibilities of internal reserves and resources distribution! It is pleasant, citizens, to observe how representatives of modern social reserves are only a method of political participation and are blocked within their own rational limits.
          .blog-container__txt(data-aos="fade-left") Only replicated from foreign sources, modern research represents nothing but the quintessence of the victory of marketing over reason and should be described in as much detail as possible. It is a pleasure, citizens, to observe how the thorough research of competitors is presented in an extremely positive light. The deep level of immersion unambiguously defines each participant as capable of making their own decisions regarding the system of mass participation. The clarity of our position is obvious: constant advocacy of our activities reveals the urgent need for favorable prospects. In their desire to improve the quality of life, they forget that the constant quantitative growth and scope of our activity predetermines a high demand for favorable prospects. Modern technologies have reached such a level that synthetic testing does not leave a chance for new proposals.
          .blog-container__title-txt(data-aos="fade-right") Only the frequency of search queries was erroneous
          .blog-container__txt(data-aos="fade-left") But the strengthening and development of internal structure gives us no choice but to define the clustering of efforts. And there is no doubt that nanotechnologies, seeking to displace traditional production, call us to new achievements, which, in turn, must be devoted to social and democratic anathema. As part of the specification of modern standards, clear signs of the victory of institutionalization will be verified in time. It is hard to say why the supporters of totalitarianism in science only add factional differences and are united into whole clusters of their own kind. It should be noted that high quality of position research is a qualitatively new stage of further development. On the other hand, further development of various forms of activity requires analysis of appropriate conditions of activation.
          .blog-container__title-txt(data-aos="fade-right") In any case, the integrity of the state media has done its job
          .blog-container__txt(data-aos="fade-left") We have to proceed from the fact that constant quantitative growth and the sphere of our activity predetermine a high demand for the economic expediency of decisions made. Being only a part of the overall picture, communication diagrams are gaining popularity among certain segments of the population and, therefore, should be objectively considered by relevant authorities. But representatives of modern social reserves only add fractional differences and are timely verified. We have to proceed from the fact that the introduction of modern methods ensures the relevance of the personnel training system, which corresponds to the urgent needs.
          .blog-container__btn-sub-container
            a(href="#").blog-container__btn-i.sub-container return
    .subscribe(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500")
      .subscribe__inner.page-container
        .subscribe__left
          .subscribe__title SUBSCRIBE TO OUR BLOG
          .subscribe__txt Best practices for customer engagement strategies
          form
            .subscribe-form__txt email adress
            .subscribe-form__txt.mobile Your email
            .subscribe-form__row
              input(type="email" placeholder="Email adress").subscribe-form__input.required
              button(type="submit").subscribe-form__button
              a(href="#").subscribe-form__i subscribe
          .subscribe__subtxt Be the first to get updates, tips, and tricks to transform your customer engagement! Check the boxes which best suit your interests and we’ll be in touch.
        .subscribe__right
          picture
            source(srcset="./img/images/illustration-blog.webp" type="image/webp")
            img(src="./img/images/illustration-blog.png" alt="img")




