extends _layout

block vars
  - var pageTitle = "Blogcontent page";
  - var pageClass = "blogcontentpage";
  - var pageActive = "blogcontentpage";
block content
  .main
    .custom-border-title.products blog
    .blog-container
      .blog-container__btn back
      .blog-container__inner
        .blog-container__title Heavy engineering is not a distant drumbeat for you
        .blog-container__img
          img().blog-container__img-img
        .blog-container__data-icons
          .blog-container__left
            .blog-container__row
              .blog-container__col
                .blog-container__col-ico
                  img()
                .blog-container__col-txt 27 October 2020
              .blog-container__col
                span Tags:
                a(href="#") #tag1
                a(href="#") #tag2
                a(href="#") #tag3
                a(href="#") #tag4
            .blog-container__row
              .blog-container__col
                .blog-container__col-ico
                  img()
                .blog-container__col-txt 5 minutes read
              .blog-container__col
                span Author: Name Surname
          .blog-container__right
            .blog-container__ico
              img()
            .blog-container__ico
              img()
            .blog-container__ico
              img()
            .blog-container__ico
              img()
            .blog-container__ico
              img()
            .blog-container__ico
              img()
        .blog-container__title-txt
          .blog-container__txt









