extends _layout

block vars
  - var pageTitle = "Blog page";
  - var pageClass = "blogpage";
  - var pageActive = "blogpage";
block content
  .main
    .main-info.products
      .main-info__inner.container.page-container.products
        .main-info__block.products
          .custom-border-title.products blog
          h1.main-info__title.products.d-margin Follow Our Great Articles
          .main-info__txt.products.blog-two every day our team releases insanely interesting news related to the company for you
          a(href="#").main-info__btn.products read
        .main-info__img.products
          img(src="./img/images/bro23.svg" alt="img").main-info__img-img.products.blog-two.d-follow
    .blog
      .blog__inner
        .blog__title Recent posts
        .blog__top-items
          .blog__top-item(data-aos="zoom-in-down")
            .blog__top-item-img
              img(src="./img/images/blog2.svg" alt="img")
            .blog__top-item-body
              .blog__top-item-title Heavy engineering is not a distant drumbeat for you
              .blog__top-item-txt In particular, long-term planning requires us to analyze the forms of influence. Only representatives of modern social reserves are nothing more than the quintessence of the victory of marketing over reason and should be combined into whole clusters of their own kind...
              .blog__top-item-time.first
                img(src="./img/images/clock2.svg" alt="img")
                .blog__top-item-time-txt 5 minutes
              .blog__top-item-time
                img(src="./img/images/calendar_calendar2.svg" alt="img")
                .blog__top-item-time-txt 4/11/2020
              a(href="#").blog__top-item-btn read
          .blog__top-item(data-aos="zoom-in-down")
            .blog__top-item-img
              img(src="./img/images/blog3.svg" alt="img")
            .blog__top-item-body
              .blog__top-item-title Heavy engineering is not a distant drumbeat for you
              .blog__top-item-txt In particular, long-term planning requires us to analyze the forms of influence. Only representatives of modern social reserves are nothing more than the quintessence of the victory of marketing over reason and should be combined into whole clusters of their own kind...
              .blog__top-item-time.first
                img(src="./img/images/clock2.svg" alt="img")
                .blog__top-item-time-txt 5 minutes
              .blog__top-item-time
                img(src="./img/images/calendar_calendar2.svg" alt="img")
                .blog__top-item-time-txt 4/11/2020
              a(href="#").blog__top-item-btn read
        .blog-body
          .blog-left
            .blog-left__mobile-title All posts
            .blog-left__list
              .blog-left__item(data-aos="zoom-in-down")
                .blog-left__img
                  img(src="./img/images/blog_item.svg" alt="img")
                .blog-left__block
                  .blog-left__category Category
                  .blog-left__title Organization task
                  .blog-left__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
                  .blog__top-item-time.first
                    img(src="./img/images/clock2.svg" alt="img")
                    .blog__top-item-time-txt 5 minutes
                  .blog__top-item-time
                    img(src="./img/images/calendar_calendar2.svg" alt="img")
                    .blog__top-item-time-txt 4/11/2020
                  a(href="#").blog__top-item-btn read
              .blog-left__item(data-aos="zoom-in-down")
                .blog-left__img
                  img(src="./img/images/blog_item2.svg" alt="img")
                .blog-left__block
                  .blog-left__category Category
                  .blog-left__title Organization task
                  .blog-left__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
                  .blog__top-item-time.first
                    img(src="./img/images/clock2.svg" alt="img")
                    .blog__top-item-time-txt 5 minutes
                  .blog__top-item-time
                    img(src="./img/images/calendar_calendar2.svg" alt="img")
                    .blog__top-item-time-txt 4/11/2020
                  a(href="#").blog__top-item-btn read
              .blog-left__item(data-aos="zoom-in-down")
                .blog-left__img
                  img(src="./img/images/blog_item2.svg" alt="img")
                .blog-left__block
                  .blog-left__category Category
                  .blog-left__title Organization task
                  .blog-left__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
                  .blog__top-item-time.first
                    img(src="./img/images/clock2.svg" alt="img")
                    .blog__top-item-time-txt 5 minutes
                  .blog__top-item-time
                    img(src="./img/images/calendar_calendar2.svg" alt="img")
                    .blog__top-item-time-txt 4/11/2020
                  a(href="#").blog__top-item-btn read
              .blog-left__item(data-aos="zoom-in-down")
                .blog-left__img
                  img(src="./img/images/blog_item2.svg" alt="img")
                .blog-left__block
                  .blog-left__category Category
                  .blog-left__title Organization task
                  .blog-left__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
                  .blog__top-item-time.first
                    img(src="./img/images/clock2.svg" alt="img")
                    .blog__top-item-time-txt 5 minutes
                  .blog__top-item-time
                    img(src="./img/images/calendar_calendar2.svg" alt="img")
                    .blog__top-item-time-txt 4/11/2020
                  a(href="#").blog__top-item-btn read
              .blog-left__item(data-aos="zoom-in-down")
                .blog-left__img
                  img(src="./img/images/blog_item2.svg" alt="img")
                .blog-left__block
                  .blog-left__category Category
                  .blog-left__title Organization task
                  .blog-left__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
                  .blog__top-item-time.first
                    img(src="./img/images/clock2.svg" alt="img")
                    .blog__top-item-time-txt 5 minutes
                  .blog__top-item-time
                    img(src="./img/images/calendar_calendar2.svg" alt="img")
                    .blog__top-item-time-txt 4/11/2020
                  a(href="#").blog__top-item-btn read
              .blog-left__item(data-aos="zoom-in-down")
                .blog-left__img
                  img(src="./img/images/blog_item2.svg" alt="img")
                .blog-left__block
                  .blog-left__category Category
                  .blog-left__title Organization task
                  .blog-left__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
                  .blog__top-item-time.first
                    img(src="./img/images/clock2.svg" alt="img")
                    .blog__top-item-time-txt 5 minutes
                  .blog__top-item-time
                    img(src="./img/images/calendar_calendar2.svg" alt="img")
                    .blog__top-item-time-txt 4/11/2020
                  a(href="#").blog__top-item-btn read
            .mobile-blog-search
              img(src="./img/images/search_mobile.svg" alt="img")
          .blog-right
            .blog-search(data-aos="fade-left")
              .blog-search__inner
                .blog-search__title Search
                .blog-search__field
                  .blog-search__input
                    input(type="text" placeholder="Search...")
                  a(href="#").blog-search__submit
                    include ../img/images/search3.svg
                .blog-search__title.second All categories
                .blog-search__list
                  a(href="#").blog-search__item 5G Messaging (1)
                  a(href="#").blog-search__item Awards (2)
                  a(href="#").blog-search__item Chatbots (1)
                  a(href="#").blog-search__item Communication APIs (1)
                  a(href="#").blog-search__item Company Update (31)
                  a(href="#").blog-search__item CPaaS (25)
                  a(href="#").blog-search__item Fraud and Security (25)
                  a(href="#").blog-search__item GDPR (5)
                  a(href="#").blog-search__item Numbers (3)
                  a(href="#").blog-search__item Operator (28)
                  a(href="#").blog-search__item Opinion (5)
                  a(href="#").blog-search__item Personalization (41)
                  a(href="#").blog-search__item Rich Messaging (63)
                  a(href="#").blog-search__item Sinch for Marketing (9)
                  a(href="#").blog-search__item SMS (53)
                  a(href="#").blog-search__item Verification (5)
                  a(href="#").blog-search__item Video (16)
            .blog-search__follow
              .blog-search__follow-txt Follow us:
              a(href="#").blog-search__follow-img
                include ../img/images/instagram2.svg
              a(href="#").blog-search__follow-img
                include ../img/images/facebook2.svg
              a(href="#").blog-search__follow-img
                include ../img/images/twitter2.svg
            .blog-search__instagram
              .blog-search__instagram-img
                img(src="./img/images/instagram2.svg" alt="img")
              a(href="#").blog-search__instagram-txt @hicell_net
            .blog-search__images
              a(href="#").blog-search__images-item
                img(src="./img/images/img-right.svg" alt="img")
              a(href="#").blog-search__images-item
                img(src="./img/images/img-right2.svg" alt="img")
              a(href="#").blog-search__images-item
                img(src="./img/images/img-right3.svg" alt="img")
              a(href="#").blog-search__images-item
                img(src="./img/images/img-right4.svg" alt="img")
              a(href="#").blog-search__images-item
                img(src="./img/images/img-right5.svg" alt="img")
              a(href="#").blog-search__images-item
                img(src="./img/images/img-right6.svg" alt="img")
        .pagination
          .pagination__inner
            .pagination__item.active 1
            .pagination__item 2
            .pagination__item 3
            .pagination__item ...
            .pagination__item 10
    .subscribe(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500")
      .subscribe__inner.page-container
        .subscribe__left
          .subscribe__title SUBSCRIBE TO OUR BLOG
          .subscribe__txt Best practices for customer engagement strategies
          form
            .subscribe-form__txt Email adress
            .subscribe-form__txt.mobile Your email
            .subscribe-form__row
              input(type="email" placeholder="Email adress").subscribe-form__input.required
              button(type="submit").subscribe-form__button
              a(href="#").subscribe-form__i subscribe
          .subscribe__subtxt Be the first to get updates, tips, and tricks to transform your customer engagement! Check the boxes which best suit your interests and we’ll be in touch.
        .subscribe__right
          picture
            source(srcset="./img/images/illustration-blog.webp" type="image/webp")
            img(src="./img/images/illustration-blog.png" alt="img")




