extends _layout

block vars
  - var pageTitle = "Contacts page";
  - var pageClass = "contactspage";
  - var pageActive = "contactspage";
block content
  .main
    .main-info.products
      .main-info__inner.container.page-container.products
        .main-info__block.products
          .custom-border-title.products Contacts
          h1.main-info__title.products Need a consultation? Call us!
          .main-info__txt.products all contact information of our company is collected here
          a(href="#").main-info__btn.products explore
        .main-info__img.products
          img(src="./img/images/bro4.png").main-info__img-img.products
    .get-touch
      .get-touch__inner.page-container
        .page-wide-block__left-side.contacts
          .custom-border-title.contacts CONTACTS
          .custom-block-title.contacts Get in touch
          .contact-row
            .contact-row__ico
              img(src="./img/images/user_circle.svg").contact-row__ico-ico
            .contact-row__name Director:
            .contact-row__txt Volodymyr Lobanov
          .contact-row
            .contact-row__ico
              img(src="./img/images/mail.svg").contact-row__ico-ico
            .contact-row__name E-Mail:
            .contact-row__txt sales@hicell.net
          .contact-row
            .contact-row__ico
              img(src="./img/images/phone.svg").contact-row__ico-ico
            .contact-row__name Tel UK:
            .contact-row__txt +447506865214
          .contact-row
            .contact-row__ico
              img(src="./img/images/location_outline.svg").contact-row__ico-ico
            .contact-row__name Address:
            .contact-row__txt 100 New Bond Street, First Floor, London, United Kingdom, W1S 1SP
          .contact-row
            .contact-row__ico
              img(src="./img/images/LinkedIn.png").contact-row__ico-ico
            .contact-row__name LinkedIn:
            a(href="#").contact-row__txt Hicell
        .page-wide-block__right-side.contacts
          .right-side__img
            img(src="./img/images/illustration11.png").right-side__img
    .custom-geolocation
      .custom-geolocation__inner.page-container
        .custom-block-title.our Our geolocation
          .custom-block-txt.our press the button to view position on map
          a(href="#").custom-block-btn.geolocation explore
    .custom-wrap.contact-us
      .page-wide-block.contact-us
        .page-wide-block__inner.page-container.contact-us
          .custom-border-title.contact-us contact us
          .contact-us__container
            .page-wide-block__left-side.contact-us
              .contact-us__text *If you have any question please visit our Help desk. If you can`t find the answer please call us or e-mail
              form
                .form-row
                  .form-col
                    .form-row__txt Your name
                    input(type="text").form-row__input
                  .form-col.email
                    .form-row__txt Your email
                    input(type="email").form-row__input.email
                .form-row.text-area
                  .form-row__txt Type your message
                  textarea.form-row__textarea
                .form-row__submit
                  button(type="submit").form-row__submit-btn
                  a(href="").form-row__submit-i Send
            .page-wide-block__right-side.contact-us
              img(src="./img/images/bro2.png").contact-us__img





