extends _layout

block vars
  - var pageTitle = "Faq page";
  - var pageClass = "faqpage";
  - var pageActive = "faqpage";
block content
  .main
    .main-info.products
      .main-info__inner.container.page-container.products.faq
        .main-info__block.products
          .custom-border-title.products.faq-products faq
          h1.main-info__title.products There May Be Answers On Your Questions
          .main-info__txt.products.faq-products here are collected frequently asked questions of our clients
          a(href="#").main-info__btn.products explore
        .main-info__img.products
          img(src="./img/images/bro.svg" alt="img").main-info__img-img.products.faq
          //img(src="./img/images/bro3.png").main-info__img-img.products
    .about-block
      .about-block__title About us
      .about-block__inner
        .about-block__left
          .about-block__tabs
            .about-block__tab(data-tab="tab-one" data-aos="fade-right").active
              .about-block__tab-name About us
              .about-block__tab-span A
            .about-block__tab-content.mobile-tab-content
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
            .about-block__tab(data-tab="tab-two" data-aos="fade-right")
              .about-block__tab-name Why us
              .about-block__tab-span A
            .about-block__tab-content.mobile-tab-content
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
            .about-block__tab(data-tab="tab-third" data-aos="fade-right")
              .about-block__tab-name Our history
              .about-block__tab-span A
            .about-block__tab-content.mobile-tab-content
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
            .about-block__tab(data-tab="tab-four" data-aos="fade-right")
              .about-block__tab-name Our office
              .about-block__tab-span A
            .about-block__tab-content.mobile-tab-content
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
            .about-block__tab(data-tab="tab-five" data-aos="fade-right")
              .about-block__tab-name Our employees
              .about-block__tab-span A
            .about-block__tab-content.mobile-tab-content
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
          .about-block__tab-content.desktop(data-tab-content="tab-one").active
            .about-block__right-title About us
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
          .about-block__tab-content.desktop(data-tab-content="tab-two")
            .about-block__right-title Why us
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
          .about-block__tab-content.desktop(data-tab-content="tab-third")
            .about-block__right-title Our history
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
          .about-block__tab-content.desktop(data-tab-content="tab-four")
            .about-block__right-title Our office
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
          .about-block__tab-content.desktop(data-tab-content="tab-five")
            .about-block__right-title Our employees
              .about-block__right-body
                .about-block__right-body-txt The task of the organization, in particular the framework and place of staff training, entails the process of introducing and modernizing further development directions.
                .about-block__right-body-img
                  img(src="./img/images/ellipse10.svg" alt="img")
        .about-block__right
          .about-block__right-img
            img(src="./img/images/block-5-illustration.svg" alt="img")
      .about-block__subtext “Having achieved excellence in work, learn to work even better. So do all the great masters.”
    .mission
      .mission__inner.page-container
        .about-block__title.our-mission-title our mission
        .mission__body
          .mission__left
            .mission__title Experts in SMS. Globally
            .mission__txt Everyone in our team has 3-10 years experience in sms business. Our mission is to link people and make business international. Hicell aims to sms aggregators and bulk messaging firstly. Innovations, quick solutions, efficient communication with partners - three core values of progressive telecom service as to sms sending globally. Our platform works from 2017 and link companies with their customers through cell phone as the most efficient method to communicate with users. We help to solve your issues with clients communication.
            .mission__txt.gray Obligations of our employees regarding personal data
            .mission__txt We not only care about the safety of your personal data, not only guarantee full compliance of our service with the requirements of EU legislation. In order to complete the full protection for you, each of our employees is obligatorily warned of personal responsibility for failure to ensure the safety of your data. We do everything to make the using of our resource be safe and comfortable.
          .mission__right
            img(src="./img/images/cuate.svg" alt="img")
        a.mission__subtext Example of commitment
    .video(data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500")
      .video__inner.page-container
        .about-block__title.video-title.video-lessons Video Lessons
        .video__block
          .video__tab-item(data-video-tab-content="one").active
            img(src="./img/images/video.svg" alt="img")
          .video__tab-item(data-video-tab-content="two")
            img(src="./img/images/video.svg" alt="img")
          .video__tab-item(data-video-tab-content="third")
            img(src="./img/images/video.svg" alt="img")
          .video__tab-item(data-video-tab-content="four")
            img(src="./img/images/video.svg" alt="img")
          .video__tab-item(data-video-tab-content="five")
            img(src="./img/images/video.svg" alt="img")
          .video__tab-item(data-video-tab-content="six")
            img(src="./img/images/video.svg" alt="img")
          .video__tab-item(data-video-tab-content="seven")
            img(src="./img/images/video.svg" alt="img")
          .video__tab-item(data-video-tab-content="eight")
            img(src="./img/images/video.svg" alt="img")
          .video__tabs
            .video__title video
            .video__list
              .video__tab(data-video-tab="one").active 1. daily practice
              .video__tab(data-video-tab="two") 2. start of daily work
              .video__tab(data-video-tab="third") 3. forming a position
              .video__tab(data-video-tab="four") 4. interesting experiment
              .video__tab(data-video-tab="five") 5. assigned tasks
              .video__tab(data-video-tab="six") 6. diverse and rich experience
              .video__tab(data-video-tab="seven") 7. constant quantitative growth
              .video__tab(data-video-tab="eight") 8. constant quantitative
            .video__description
              .video__description-title description
              .video__description-txt Thus, the strengthening and development of the structure allows you to perform important tasks for the development of appropriate conditions for activation
    .check-out.faq-out
      .check-out__inner.page-container
        .check-out__left
          .check-out__title.faq-out(data-aos="fade-right") check out our products
          .check-out__txt(data-aos="fade-right") Reach every mobile phone on the planet - in seconds or less. Sinch provides all the tools you need to get closer to your customers.
          .custom-block-btn.solutions(data-aos="fade-right") get started
        .check-out__right
          picture
            source(srcset="./img/images/pana2.webp" type="image/webp")
            img(src="./img/images/pana2.png" alt="img")
          //img(src="./img/images/pana2.png")
    .custom-wrap.contact-us(data-aos="fade-down")
      .page-wide-block.contact-us
        .page-wide-block__inner.page-container.contact-us
          .custom-border-title.contact-us contact us
          .contact-us__container
            .page-wide-block__left-side.contact-us
              .contact-us__text If you can`t find the answer please call us or e-mail
              form
                .form-row
                  .form-col.site-form__row
                    .form-row__txt Your name
                    input(type="text").form-row__input.required
                  .form-col.email.site-form__row
                    .form-row__txt Your email
                    input(type="email").form-row__input.email.required
                .form-row.text-area.site-form__row
                  .form-row__txt Type your message
                  textarea.form-row__textarea.required
                .form-row__submit
                  button(type="submit").form-row__submit-btn
                  a(href="").form-row__submit-i.site-form-submit-js send
            .page-wide-block__right-side.contact-us
              img(src="./img/images/bro2.svg" alt="img").contact-us__img
              //img(src="./img/images/bro2.png").contact-us__img





