extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";
block content
  .main
    .main-info
      .main-info__inner.container.page-container
        .main-info__block
          h1.main-info__title Flexibility in service. <br> Individual approach.
          .main-info__txt Customer service software and automation to talk <br> to your customers on channels like Live Chat, <br> WhatsApp, Voice and more.
          a(href="#").main-info__btn GET STARTED
        .main-info__img
          picture
            source(srcset="./img/images/block-1-illustration.webp" type="image/webp")
            img(src="./img/images/block-1-illustration.png" alt="img").main-info__img-img
          //img(src="./img/images/block-1-illustration.png").main-info__img-img
    .main-slider
      .main-slider__inner.page-container
        .page-container
          span.page-title-flag(data-aos="fade-down") PRODUCTS
        .page-slider
          .swiper-container.site-slider-js
            .swiper-wrapper
              .swiper-slide
                .product-card
                  .swiper-slide__title VIBER
                  .swiper-slide__img
                    img(src="./img/images/slider.svg" alt="img").swiper-slide__img-img
                    //img(src="./img/images/Rectangle38.png").swiper-slide__img-img
                  .swiper-slide__txt Free and secure calls and messages to anyone, anywhere. Keep your conversations going no matter where you are.
                  a(href="#").custom-block-btn.swiper-slide__btn About
              .swiper-slide
                .product-card
                  .swiper-slide__title SMS
                  .swiper-slide__img
                    img(src="./img/images/slider.svg" alt="img").swiper-slide__img-img
                    //img(src="./img/images/Rectangle38.png").swiper-slide__img-img
                  .swiper-slide__txt Our SMS API helps you create customer journeys through conversations — even within the context of your app.
                  a(href="#").custom-block-btn.swiper-slide__btn About
              .swiper-slide
                .product-card
                  .swiper-slide__title ADVERTISING SMS
                  .swiper-slide__img
                    img(src="./img/images/slider.svg" alt="img").swiper-slide__img-img
                    //img(src="./img/images/Rectangle38.png").swiper-slide__img-img
                  .swiper-slide__txt Text message advertising is the practice of sharing promotions, sales, or news updates with your customers via text message.
                  a(href="#").custom-block-btn.swiper-slide__btn About
              .swiper-slide
                .product-card
                  .swiper-slide__title ADVERTISING SMS
                  .swiper-slide__img
                    picture
                      source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                      img(src="./img/images/Rectangle38.png" alt="img").swiper-slide__img-img
                    //img(src="./img/images/Rectangle38.png").swiper-slide__img-img
                  .swiper-slide__txt Text message advertising is the practice of sharing promotions, sales, or news updates with your customers via text message.
                  a(href="#").custom-block-btn.swiper-slide__btn About
          .site-slider-button-prev
            include ../img/ico/circle_chevron_left.svg
          .site-slider-button-next
            include ../img/ico/circle_chevron_right.svg
          .site-slider-pagination
    .page-tabs.page-container
      .page-tabs__item(data-tab="tab-one").active BIG DATA
      .page-tabs__item(data-tab="tab-two") VIBER + SMS
      .page-tabs__item(data-tab="tab-third") SORT CODE
      .page-tabs__item(data-tab="tab-four") LONG NUMBER
      .page-tabs__item(data-tab="tab-five") 2WAY NUMBERS
      .page-tabs__item(data-tab="tab-six") BULK SMS
    .page-tab-content
      img(src="./img/images/block-3-box-illustration.svg").page-tab-content__background-img.first
      picture
        source(srcset="./img/images/block-3-wave-illustration.webp" type="image/webp")
        img(src="./img/images/block-3-wave-illustration.png" alt="img").page-tab-content__background-img.second
      //img(src="./img/images/block-3-wave-illustration.png").page-tab-content__background-img.second
      .page-tab-content__inner.page-container
        .page-tab-content__left
          .page-tab__body(data-tab-content="tab-one").active
            .page-tab-content__name Solutions
            .page-tab-content__title Big data
            .page-tab-content__txt Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-two")
            .page-tab-content__name Solutions
            .page-tab-content__title VIBER + SMS
            .page-tab-content__txt Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-third")
            .page-tab-content__name Solutions
            .page-tab-content__title SORT CODE
            .page-tab-content__txt Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-four")
            .page-tab-content__name Solutions
            .page-tab-content__title LONG NUMBER
            .page-tab-content__txt Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-five")
            .page-tab-content__name Solutions
            .page-tab-content__title Big data
            .page-tab-content__txt Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-six")
            .page-tab-content__name Solutions
            .page-tab-content__title Big data
            .page-tab-content__txt Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab-content__btns
            .page-tab-content__navs
              .page-tab-content__nav-item.first-nav__item
                img(src="./img/images/short_left.svg").page-tab-content__nav-item-img
              .page-tab-content__nav-item.second-nav__item.active
                img(src="./img/images/short_right.svg").page-tab-content__nav-item-img
            a(href="#").page-tab-content__btn READ MORE
        .page-tab-content__right
          .page-tab-content__img
            img(src="./img/images/block3illlustration.svg" alt="img").page-tab-content__img-img
          .page-tab-content__navs.mobile
            .page-tab-content__nav-item
              img(src="./img/images/short_left.svg").page-tab-content__nav-item-img
            .page-tab-content__nav-item.active
              img(src="./img/images/short_right.svg").page-tab-content__nav-item-img
    .page-sms.page-container
      span.page-image-flag(data-aos="fade-down") PRICES
        span.page-image-flag__img
          picture
            source(srcset="./img/images/$.webp" type="image/webp")
            img(src="./img/images/$.png" alt="img").page-image-flag__img-img
          //img(src="./img/images/$.png").page-image-flag__img-img
      .page-sms__inner.page-container
        .page-sms-left(data-aos="flip-left" data-aos-duration="1500")
          .page-sms-left__inner
            .page-sms-left__title We send sms in all countries-in-world!
            .page-sms-left__row
              .page-sms-left__row-name *Afghanistan
              .page-sms-left__row-cost Cost
            .page-sms-left__row
              .page-sms-left__row-name *Albania
              .page-sms-left__row-cost Cost
            .page-sms-left__row
              .page-sms-left__row-name Algeria
              .page-sms-left__row-cost Cost
            .page-sms-left__row
              .page-sms-left__row-name *Andorra
              .page-sms-left__row-cost Cost
            .page-sms-left__row
              .page-sms-left__row-name Angola
              .page-sms-left__row-cost Cost
            .page-sms-left__row
              .page-sms-left__row-name Antigua and Barbuda
              .page-sms-left__row-cost Cost
            .page-sms-left__row
              .page-sms-left__row-name *Argentina
              .page-sms-left__row-cost Cost
            .page-sms-left__row
              .page-sms-left__row-name Armenia
              .page-sms-left__row-cost Cost
            .page-sms-left__btn
              a(href="#").custom-block-btn.page-sms-left__btn-i VIEW ALL
        .page-sms-right
          .page-sms-right__block(data-aos="flip-right" data-aos-duration="1500")
            .page-sms-right__block-inner.first
              .page-sms-right__block-title.first Try SMS services
              .page-sms-right__block-txt.first register now <br> and receive 10 test SMS!
              .page-sms-right__block-btn.first
                a(href="#").custom-block-btn.page-sms-right__block-btn-i.first REGISTER
          .page-sms-right__block(data-aos="flip-right" data-aos-duration="1500")
            .page-sms-right__block-inner.second
              .page-sms-right__block-title.second Sending SMS in Ukraine
              .page-sms-right__block-row
                .page-sms-right__block-row-title.second With local sender:
                .page-sms-right__block-row-price.second 0.38 UAH
              .page-sms-right__block-row
                .page-sms-right__block-row-title.second With an international sender:
                .page-sms-right__block-row-price.second 2.20 UAH
              .page-sms-right__block-subtext For one sent SMS message to all operators in Ukraine
    .page-wide-block.integration
      .page-wide-block__inner.page-container.integration-right
        .page-wide-block__left-side.integration
          .custom-border-title.integration INTEGRATION
          .custom-block-title.integration Customize Our Flexible System Completely For Yourself!
          .custom-block-txt.integration here are collected a variety of options for working with our system especially for you!
          .custom-block-btn__wrap.integration
            a(href="#").custom-block-btn.integration view more
        .page-wide-block__right-side.integration
          .right-side__item.integration(data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1000")
            .right-side__img
              picture
                source(srcset="./img/images/ellipse11.webp" type="image/webp")
                img(src="./img/images/ellipse11.png" alt="img").right-side__img-img
              //img(src="./img/images/Ellipse11.png").right-side__img-img
            .right-side__title.integration SMPP
            .right-side__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
            a(href="#").right-side__btn.integration ABOUT
          .right-side__item(data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1000")
            .right-side__img
              picture
                source(srcset="./img/images/ellipse12.webp" type="image/webp")
                img(src="./img/images/ellipse12.png" alt="img").right-side__img-img
              //img(src="./img/images/Ellipse12.png").right-side__img-img
            .right-side__title.integration HTML
            .right-side__txt In particular, consultation with a broad asset is an interesting experiment in testing new proposals.
            a(href="#").right-side__btn.integration ABOUT
        .custom-block-btn__wrap.mobile
          a(href="#").custom-block-btn.integration-right view more
    .custom-wrap.bro(data-aos="fade-down")
      .page-wide-block.bro
        .page-wide-block__inner.page-container.bro
          .page-wide-block__left-side.bro
            .custom-border-title.bro FAQ
            .custom-block-title There may be answers on your questions
            .custom-block-txt.bro here are collected frequently asked questions of our clients
            a(href="#").custom-block-btn.mar-top explore
          .page-wide-block__right-side.bro
            .right-side__img
              img(src="./img/images/bro_question.svg" alt="img").right-side__img-img
              //img(src="./img/images/bro.png").right-side__img-img
    .custom-wrap.faq(data-aos="fade-down")
      .page-wide-block.faq
        .page-wide-block__inner.page-container.faq
          .page-wide-block__left-side.faq
            .custom-border-title FAQ
            .custom-block-title There may be answers on your questions
            .custom-block-txt here are collected frequently asked questions of our clients
            a(href="#").custom-block-btn.mar-top explore
          .page-wide-block__right-side.faq
            .right-side__img
              img(src="./img/images/bro_question.svg" alt="img").right-side__img-img
              //img(src="./img/images/bro.png").right-side__img-img
    .page-wide-block.contacts
      .page-wide-block__inner.page-container.contacts
        .page-wide-block__left-side.contacts
          .custom-border-title.contacts CONTACTS
          .custom-block-title.contacts(data-aos="fade-right") Get in touch
          .contact-row(data-aos="fade-right")
            .contact-row__ico
              img(src="./img/images/user_circle.svg").contact-row__ico-ico
            .contact-row__name Director:
            .contact-row__txt Volodymyr Lobanov
          .contact-row(data-aos="fade-right")
            .contact-row__ico
              img(src="./img/images/mail.svg").contact-row__ico-ico
            .contact-row__name E-Mail:
            .contact-row__txt sales@hicell.net
          .contact-row(data-aos="fade-right")
            .contact-row__ico
              img(src="./img/images/phone.svg").contact-row__ico-ico
            .contact-row__name Tel UK:
            .contact-row__txt +447506865214
          .contact-row(data-aos="fade-right")
            .contact-row__ico
              img(src="./img/images/location_outline.svg").contact-row__ico-ico
            .contact-row__name Address:
            .contact-row__txt 100 New Bond Street, First Floor, London, United Kingdom, W1S 1SP
          .contact-row(data-aos="fade-right")
            .contact-row__ico
              picture
                source(srcset="./img/images/linkedIn.webp" type="image/webp")
                img(src="./img/images/linkedIn.png" alt="img").contact-row__ico-ico
              //img(src="./img/images/LinkedIn.png").contact-row__ico-ico
            .contact-row__name LinkedIn:
            a(href="#").contact-row__txt Hicell
        .page-wide-block__right-side.contacts
          .right-side__img
            img(src="./img/images/contacts.svg" alt="img").right-side__img
            //img(src="./img/images/illustration11.png").right-side__img
    .custom-wrap.geolocation(data-aos="fade-down")
      .page-wide-block.geolocation
        .page-wide-block__inner.page-container.geolocation
          .custom-block-title.our Our geolocation
          .custom-block-txt.our press the button to view position on map
          a(href="#").custom-block-btn.geolocation explore






