extends _layout

block vars
  - var pageTitle = "Products page";
  - var pageClass = "productspage";
  - var pageActive = "productspage";
block content
  .main
    .main-info.products
      .main-info__inner.container.page-container.products
        .main-info__block.products
          .custom-border-title.products Products
          h1.main-info__title.products Explore for our incredible products
          .main-info__txt.products reach every mobile phone on the planet - in seconds or less. Sinch provides all the tools you need to get closer to your customers.
          a(href="#").main-info__btn.products read
        .main-info__img.products
          picture
            source(srcset="./img/images/pana.webp" type="image/webp")
            img(src="./img/images/pana.png" alt="img").main-info__img-img.products
          //img(src="./img/images/pana.png").main-info__img-img.products
    .messaging
      .messaging__inner.page-container
        .messaging__title.border-none Messaging
        .messaging__list.row.justify-content-center
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title Viber
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt Free and secure calls and messages to anyone, anywhere. Keep your conversations going no matter where you are.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title sMs
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt Our SMS API helps you create customer journeys through conversations — even within the context of your app.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title Advertising SMS
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt Text message advertising is the practice of sharing promotions, sales, or news updates with your customers via text message.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title RCS
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt Today we want messaging that lets us do things like share high-res photos and larger files, chat with a group. RCS makes all this possible.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title A2P Messaging
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt The SMS hubbing platform provides outbound 1-way A2P communication and all required bulk SMS features: delivery reports, sender ID, long SMS option, etc.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
      .messaging__inner.page-container
        .messaging__title Verification
        .messaging__list.row.justify-content-center
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title Verified SMS
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt Send trustworthy business messages with Verified SMS.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title IP Verification
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt Verification IP (VIP) blocks are inserted into the testbench for a design to check the operation of protocols and interfaces
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title HLR
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt HLR Look Up. Let your numbers be checked! Excellent way to validate and verify mobile numbers.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
      .messaging__inner.page-container
        .messaging__title Numbers
        .messaging__list.numbers.row.justify-content-center
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title Long Numbers
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt In some places, the large number names were then applied to the smaller numbers, following the new punctuation scheme.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title Short Codes
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt A short code is a special 5 or 6 digit telephone number that's shorter than a full phone number.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
          .messaging-item__wrap.col-md-6.col-xl-4
            .messaging-item
              .messaging-item__title Transactions
              .messaging-item__block
                .messaging-item__img
                  picture
                    source(srcset="./img/images/Rectangle38.webp" type="image/webp")
                    img(src="./img/images/Rectangle38.png" alt="img").messaging-item__img-img
                  //img(src="./img/images/Rectangle38.png").messaging-item__img-img
                .messaging-item__txt A transaction is a business event that has a monetary impact on an entity's financial statements, and is recorded as an entry in its accounting records.
                .messaging-item__btn-wrap
                  a(href="#").messaging-item__btn About
    .custom-wrap.contact-us
      .page-wide-block.contact-us
        .page-wide-block__inner.page-container.contact-us
          .custom-border-title.contact-us contact us
          .contact-us__container
            .page-wide-block__left-side.contact-us
              .contact-us__text *If you have any question please visit our Help desk. If you can`t find the answer please call us or e-mail
              form
                .form-row
                  .form-col
                    .form-row__txt Your name
                    input(type="text").form-row__input
                  .form-col.email
                    .form-row__txt Your email
                    input(type="email").form-row__input.email
                .form-row.text-area
                  .form-row__txt Type your message
                  textarea.form-row__textarea
                .form-row__submit
                  button(type="submit").form-row__submit-btn
                  a(href="").form-row__submit-i Send
            .page-wide-block__right-side.contact-us
              picture
                source(srcset="./img/images/bro2.webp" type="image/webp")
                img(src="./img/images/bro2.png" alt="img").contact-us__img
              //img(src="./img/images/bro2.png").contact-us__img





