extends _layout

block vars
  - var pageTitle = "Solutions page";
  - var pageClass = "solutionspage";
  - var pageActive = "solutionspage";
block content
  .main
    .main-info.products
      .main-info__inner.container.page-container.products.solutions
        .main-info__block.products
          .custom-border-title.products Solutions
          h1.main-info__title.products Create Memorable Customer Experiences
          .main-info__txt.products.solutions-products after 12 years and over 40,000 customers, we know good experiences are built from a perfect blend of customer centricity, technology, and data, with a reliable partner at your side
          a(href="#").main-info__btn.products.solutions explore
        .main-info__img.products.desk-solution-only
          img(src="./img/images/rafiki2.svg" alt="img").main-info__img-img.products.solutions
          //img(src="./img/images/rafiki.png").main-info__img-img.products
        .main-info__img.products.mobile-solution-only
          img(src="./img/images/rafiki22.svg" alt="img").main-info__img-img.products.solutions
        img(src="./img/images/block-3-box-illustration.svg" alt="img").page-tab-content__background-img.first.solutions
        picture
          source(srcset="./img/images/block-3-wave-illustration.webp" type="image/webp")
          img(src="./img/images/block-3-wave-illustration.png" alt="img").page-tab-content__background-img.second.solutions
        //img(src="./img/images/block-3-wave-illustration.png").page-tab-content__background-img.second.solutions
    .page-tabs.page-container.solutions
      .page-tabs__item.d-solutions(data-tab="tab-one").active Big data
      .page-tabs__item.d-solutions(data-tab="tab-two") Viber + SMS
      .page-tabs__item.d-solutions(data-tab="tab-third") Short Code
      .page-tabs__item.d-solutions(data-tab="tab-four") Long Number
      .page-tabs__item.d-solutions(data-tab="tab-five") 2Way Numbers
      .page-tabs__item.d-solutions(data-tab="tab-six") Bulk SMS
    .page-tab-content.page-container.solutions
      //img(src="./img/images/block3illlustration.svg" alt="img").page-tab-content__background-img
      img(src="./img/images/block-3-wave-illustration.png" alt="img").page-tab-content__background-img.second.tab
      .page-tab-content__inner.page-container.solutions
        .page-tab-content__left
          .page-tab__body(data-tab-content="tab-one").active
            .page-tab-content__name.solutions Solutions
            .page-tab-content__title Big data
            .page-tab-content__txt.d-solution Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-two")
            .page-tab-content__name.solutions Solutions
            .page-tab-content__title VIBER + SMS
            .page-tab-content__txt.d-solution Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-third")
            .page-tab-content__name.solutions Solutions
            .page-tab-content__title SORT CODE
            .page-tab-content__txt.d-solution Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-four")
            .page-tab-content__name.solutions Solutions
            .page-tab-content__title LONG NUMBER
            .page-tab-content__txt.d-solution Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-five")
            .page-tab-content__name.solutions Solutions
            .page-tab-content__title Big data
            .page-tab-content__txt.d-solution Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab__body(data-tab-content="tab-six")
            .page-tab-content__name.solutions Solutions
            .page-tab-content__title Big data
            .page-tab-content__txt.d-solution Big data is the designation of structured unstructured data of huge volumes and significant data processed by horizontally scalable software tools, which appeared in the late 2000s and is an alternative to traditional database management systems and solutions of the Business Intelligence class.
          .page-tab-content__btns
            .page-tab-content__navs
              .page-tab-content__nav-item.first-nav__item.solutions
                .page-tab-content__nav-item-img.solutions prev
              .page-tab-content__nav-item.second-nav__item.solutions.active
                .page-tab-content__nav-item-img.solutions next
            a(href="#").page-tab-content__btn.solutions-tab-btn read more
        .page-tab-content__right
          .page-tab-content__img
            //img(src="./img/images/block-3-illlustration.png").page-tab-content__img-img
            picture
              source(srcset="./img/images/block-3-illlustration.webp" type="image/webp")
              img(src="./img/images/block-3-illlustration.png" alt="img").page-tab-content__img-img
              img(src="./img/images/block-3-illlustration-mobile.svg" alt="img").page-tab-content__img-img.solution-img
          .page-tab-content__navs.mobile
            .page-tab-content__nav-item.first-nav__item.solution-nav-item.width
              img(src="./img/images/short_left.svg" alt="img").page-tab-content__nav-item-img
            .page-tab-content__nav-item.second-nav__item.active.width
              img(src="./img/images/short_right.svg" alt="img").page-tab-content__nav-item-img
    .check-out
      .check-out__inner.page-container
        .check-out__left
          .check-out__title check out our products
          .check-out__txt Reach every mobile phone on the planet - in seconds or less. Sinch provides all the tools you need to get closer to your customers.
          .custom-block-btn.solutions get started
        .check-out__right
          picture
            source(srcset="./img/images/pana2.webp" type="image/webp")
            img(src="./img/images/pana2.png" alt="img")
          //img(src="./img/images/pana2.png")
    .custom-wrap.contact-us.d-main(data-aos="fade-down")
      .page-wide-block.contact-us
        .page-wide-block__inner.page-container.contact-us
          .custom-border-title.contact-us contact us
          .contact-us__container
            .page-wide-block__left-side.contact-us
              .contact-us__text *If you have any question please visit our Help desk. If you can`t find the answer please call us or e-mail
              form
                .form-row
                  .form-col.site-form__row
                    .form-row__txt Your name
                    input(type="text").form-row__input.required
                  .form-col.email.site-form__row
                    .form-row__txt Your email
                    input(type="email").form-row__input.email.required
                .form-row.text-area.site-form__row
                  .form-row__txt Type your message
                  textarea.form-row__textarea.required
                .form-row__submit
                  button(type="submit").form-row__submit-btn
                  a(href="").form-row__submit-i.site-form-submit-js send
            .page-wide-block__right-side.contact-us
              img(src="./img/images/bro2.svg" alt="img").contact-us__img
              //img(src="./img/images/bro2.png").contact-us__img





